<style>
    body{
        background-color: rgba(0, 0, 0, 0.3);
    }
    .ngtemplate{
        background-color:rgba(0, 0, 0, 0.3)
    }
    button.startChat{
        position: relative;
        left: 75px;
        height: 100px;
        width: 200px;
        border-radius: 50px;
    }
    .ChatInfo{
        background-color: white;
        position: relative;
        left: 75px;
        height: 100px;
        width: 200px;
        border-radius: 50px;
        text-align: center;
        vertical-align: middle;
        line-height: 100px;
    }
    button{
        width: 50px;
        height: 50px;
        border-radius: 5px;
        background-color: rgb(150, 100, 200);
        border-color: blueviolet;
        color: white;
    }
    input{
        width: 240px;
        height: 50px;
        border-radius: 5px;
        margin-right: 2px;
        padding: 20px;
        background: rgba(255, 255, 255, 0.9);
        text-align: center;
    }
    textarea{
        position: relative;
        width: 340px;
        height: 170px;
        left: 5px;
        top: 5px;
        background: rgba(226, 208, 225, 0.795);
        border-radius: 4px;
    }
</style>

<body [style.height.px]='innerHeight' [style.width.px]='innerWidth'>
    <div *ngIf='loggedIn; then ChatReadyBox else WaitingForLogInBox'> </div>
    <ng-template #ChatReadyBox style="height: inherit; width: inherit;">
        <button class="startChat" *ngIf='!chatActive' (click)='startChat()' [style.top.px]='innerHeight/2-50' >Chat with selected people</button>
        <div *ngIf='chatActive'>
            <div style="position: relative; left: 5px; height: 60px; top: 5px;">
                <input type="text" #TitleBox [value]='selectedChat.title'>
                <button (click)='editChat$(TitleBox.value)'>Title</button>
                <button (click)='exitChat$()'>Exit</button>
            </div>
            <div [style.height.px]='innerHeight-60-180' >
                <div [style.height.px]='innerHeight-60-180' [style.width.px]='innerWidth-10' [style.left.px]='5' style="position: relative; background-color: rgba(255, 255, 255, 0.5); border-radius: 4px;">
                    <div style="height: inherit; width: inherit;">
                        <div *ngFor="let message of messages" class="message">{{message.content}}</div>
                    </div>
                </div>
            </div>
            <div >
                <textarea #TextArea (keyup.enter)='sendMessage$(TextArea.value)'  placeholder="Write a message here and send it using Enter..."></textarea>
            </div>
        </div>
    </ng-template>
    <ng-template #WaitingForLogInBox style="height: inherit; width: inherit;">
        <div class="ChatInfo" [style.top.px]='innerHeight/2-50'> Log in to chat</div>
    </ng-template>
</body>