<style>
    body{
        background-color: rgba(0, 0, 0, 0.3);
    }
    .ngtemplate{
        background-color:rgba(0, 0, 0, 0.3)
    }
    button.startChat{
        position: relative;
        left: 75px;
        height: 100px;
        width: 200px;
        border-radius: 50px;
    }
    .ChatInfo{
        background-color: white;
        position: relative;
        left: 75px;
        height: 100px;
        width: 200px;
        border-radius: 50px;
        text-align: center;
        vertical-align: middle;
        line-height: 100px;
    }
    .navbutton{
        width: 50px;
        height: 50px;
        border-radius: 5px;
        background-color: rgb(150, 100, 200);
        border-color: blueviolet;
        color: white;
    }
    input{
        width: 240px;
        height: 50px;
        border-radius: 5px;
        margin-right: 2px;
        padding: 20px;
        background: rgba(255, 255, 255, 0.9);
        text-align: center;
    }
    textarea{
        position: relative;
        width: 340px;
        height: 170px;
        left: 5px;
        top: 5px;
        background: rgba(226, 208, 225, 0.795);
        border-radius: 4px;
    }

    .message{
        border-radius: 6px;
        margin-bottom: 5px;
    }

    img{
        position:absolute;
        top: 7px;
        border-radius: 50%;
        width: 20px;
        height: 20px;
    }

    .info{
        position:relative;
        height: 20px;
    }

    .content{
        background-color:grey;
        top: 20px;
        text-align: left;
        height: auto;
        display: flex;
        word-break:break-all;
        white-space:pre-line;
    }

    .name{
        position: absolute;
        left: 23px;
        top: 2px;
        color: white;
        -webkit-text-stroke: 1px black;
        font-size: 20px;
        overflow: hidden;
        height: 25px;
    }

    .scrollbar::-webkit-scrollbar {
    display: none;
    }
    .scrollbar {
    -ms-overflow-style: none;
    }

    .refreshbutton{
        position: fixed;
        width: 30px;
        height: 30px;
        border-radius: 30px;
        padding: 0;
        right: 10px;
        background-image: url(../../assets/images/refresh.jpeg);
        background-color: rgba(0, 0, 0, 0.3);
        background-size: 100%;
    }


</style>

<body [style.height.px]='innerHeight' [style.width.px]='innerWidth'>
    <div *ngIf='loggedIn; then ChatReadyBox else WaitingForLogInBox'> </div>
    <ng-template #ChatReadyBox style="height: inherit; width: inherit;">
        <button class="startChat" *ngIf='!chatActive' (click)='startChat()' [style.top.px]='innerHeight/2-50' >Chat with selected people</button>
        <div *ngIf='chatActive'>
            <div style="position: relative; left: 5px; height: 60px; top: 5px;">
                <input type="text" #TitleBox [value]='selectedChat.title'>
                <button class="navbutton" (click)='editChat$(TitleBox.value)'>Title</button>
                <button class="navbutton" (click)='exitChat$()'>Exit</button>
            </div>
            <div [style.height.px]='innerHeight-60-180' >
                <div  [style.height.px]='innerHeight-60-180' [style.width.px]='innerWidth-10' [style.left.px]='5' style="position: relative; background-color: rgba(255, 255, 255, 0.5); border-radius: 4px;">
                    <div *ngIf='reload' class="scrollbar" style="height: inherit; width: inherit; overflow-x: scroll;">
                        <div >
                            <button (click)='reloadComponent()' class="refreshbutton"></button>
                        </div>
                        <div class="message" *ngFor="let message of messages; index as i; trackBy: currentMessage">
                            <div class="info">
                                <img src="{{message.sender.image}}">
                                <h5 class="name">{{message.sender.fName}}</h5>
                            </div>
                            <div class="content">{{message.content}}</div>
                        </div>
                    </div>
                </div>
            </div>
            <div >
                <textarea name="sendmsg" [(ngModel)]="taVal" (keyup.enter)='sendMessage$()'  placeholder="Write a message here and send it using Enter...">{{textareavalue}}</textarea>
            </div>
        </div>
    </ng-template>
    <ng-template #WaitingForLogInBox style="height: inherit; width: inherit;">
        <div class="ChatInfo" [style.top.px]='innerHeight/2-50'> Log in to chat</div>
    </ng-template>
</body>