<style>
nav{
    background: rgba(66, 11, 73, 0.61);
    color: rgb(255, 255, 255);
    height: 70px;
}
button{
    border-radius: 20px;
    margin-left: 0%;
    margin-top: 10px;
    padding: 10px;
    font-size: 12px;
    box-shadow: 10px 1px 10x palevioletred;
}

#c1{
    width: 10%;
}
#c2{
    width: 90%;
}
h1{
    position: absolute;
    margin-top: 10px;
    left: calc(20% + 50px);
    text-shadow: 15px 1px 20px violet;
}

img{
    position: absolute;
    height: 50px;
    border-radius: 50%;
    margin-top: 10px;
    left: 20%;
    background-image: "../../assets/images/logo.jpeg";
}

</style>


<nav>
    <div class="row">
        <div id="c2" class="column">
            <img src="../../assets/images/logo.jpeg">
            <h1>COUNSEL</h1>
        </div>
        <div id="c1" class="column" >
            <button [routerLink]="['']" >LOG OUT</button>
        </div>
    </div>
</nav>  