<style>
    body{
        background-image: url('../../assets/images/background2.jpeg');
        background-size: 100% 100%;
        overflow-x: hidden;
    }
    div.inline { float:left; }
</style>

<body [style.height.px]='innerHeight' [style.width.px]='innerWidth' *ngIf=readyToLoad>
    <navigation-component></navigation-component>
    <div>
        <div class="inline">
            <user-component 
            [selectedPeople]="selectedPeople" 
            [loggedIn]="loggedIn"
            [workplace]='workplace'
            (register)="register($event)"
            (setLoggedIn)="setLoggedIn($event)"
            (logOut)="logOut()"
            (editMe)="editMe($event)"
            (deleteMe)="deleteMe()"
            ></user-component>
        </div>
        <div class="inline">
            <people-list-component
            [people]="people"
            [loggedIn]="loggedIn"
            [selectedPeople]="selectedPeople"
            ></people-list-component>
            <selection-component
            [loggedIn]="loggedIn"
            [people]="people"
            [selectedPeople]="selectedPeople"
            [chatHistory]="chatHistory"
            (findPeople)="findPeople($event)"
            (selectPeople)="selectPeople($event)"
            ></selection-component>
        </div>
        <div class="inline" style="float: right;"> 
            <chat-component
            [loggedIn]="loggedIn"
            [selectedPeople]="selectedPeople"
            [chatHistory]="chatHistory"
            [selectedChat]="selectedChat"
            [messages]="messages"
            (addChat)="addChat($event)"
            (selectChat)="selectChat($event)"
            (editChat)="editChat($event)"
            (exitChat)="exitChat()"
            (sendMessage)="sendMessage($event)"
            ></chat-component>
        </div>
    </div>
</body>
