<style>
    div.inline { float:left; }
    img{
        height: 60px;
        width: 60px;
        border-radius: 50% 50%;
    }
    tr:nth-child(even) {
    background-color:rgba(205, 191, 207, 0.521)
}
.scrollbar::-webkit-scrollbar {
  display: none;
}
.scrollbar {
  -ms-overflow-style: none;
}

.showScroll{
    position:sticky;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    text-align: center;
    box-shadow: 0 0 2px 2px rgba(207, 32, 199);
}



</style>

<div (scroll)="onScroll($event)" class="scrollbar" [style.height.px]='innerHeight' [style.width.px]='innerWidth' style="overflow-y: scroll; overflow-x: hidden;">
    <div 
        [style.left.px]='innerWidth/2-20'
        [style.top.px]='10'
        class="showScroll"
        *ngIf='scrollDown'>
    </div>
    <table style="width: inherit;">
            <tr [style.height.px]='rowHeight' *ngFor="let p of people">
                <div class="inline">
                    <a>
                        <img  [style.box-shadow]='selected(p.personId)' (click)="selectPerson(p.personId)" src={{p.image}}>
                    </a>
                </div>
                <div class="inline">
                    <h2>{{p.fName}} {{p.lName}}</h2>
                    <h5>{{p.email}}</h5>
                </div>
                <div style="float: right; margin-right: 30px;" class="inline">
                    <h4>{{p.role}}</h4>
                </div>
            </tr>
    </table>
    <div 
        [style.left.px]='innerWidth/2-20'
        [style.bottom.px]='10'
        class="showScroll"
        *ngIf='scrollUp'>
    </div>
</div>