<style>
    body{
        background-color: rgba(44, 44, 44, 0.363);
        width: 400px;
        background-size: 100% 100%;
    }

    table{
        margin-left: 50px;
        color:whitesmoke;
    }

    img{
    height: 250px;
    border-radius: 50%;
    }

    table{
        border-collapse:separate; 
        border-spacing:10px 22px;
    }

    tr{
        margin-top: 100px;
    }
</style>

<body>
    <table>
        <tr><th colspan="2"><img src="../../assets/images/logo.jpeg"></th></tr>
        <tr><th>Name</th><td><input type="text"></td></tr>
        <tr><th>Surname</th><td><input type="text"></td></tr>
        <tr><th>Role</th><td><input type="text"></td></tr>
        <tr><th>Email</th><td><input type="text"></td></tr>
        <tr><th>Password</th><td><input type="text"></td></tr>
        <tr><button>Edit</button></tr>
        <tr><button>Remove</button>
    </table>
</body>